.cookie-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: var(--color-grey);
  border-radius: var(--block-border-radius);
  max-width: 70%;
  height: 60px;
  margin: 0 auto;
}

.notification_visible {
  opacity: 1;
  visibility: visible;
  transition: opacity .1s linear, visibility .1s linear;
}

.notification_hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .1s linear, visibility .1s linear;
}

.cookie-notification__content {
  font-size: calc(var(--base-font-size) * 1.1);
  margin: 0;
}

.cookie-notification__button {
  font-size: calc(var(--base-font-size) * .9);
}

@media (max-width: 1024px)  {
  .cookie-notification {
    flex-direction: column;
    gap: 15px;
    height: auto;
    padding: 20px;
  }

  .cookie-notification__content {
    text-align: center;
    font-size: 20px;
  }

  .cookie-notification__button {
    font-size: calc(var(--base-font-size) * .8);
  }
}
