footer {
  display: flex;
  justify-content: end;
  height: 70px;
}

ul {
  display: flex;
  gap: 60px;
  list-style: none;
  margin: 10px 50px 10px 0;
  padding: 0;
}

ul a {
  display: inline-flex;
  align-items: center;
}

li {
  font-size: 20px;
  text-decoration: underline solid transparent;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.1em;
  transition: text-decoration-color 0.1s;
}

li:hover {
  text-decoration: underline solid #77dd77;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.1em;
  transition: text-decoration-color 0.1s;
}

.github-link {
  gap: 15px;
}

.github-link > img {
  width: 30px;
}
