footer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.footer-links {
  display: flex;
  gap: 60px;
  padding: 0;
}

.footer-links__link {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}
