.forecast {
  margin: 300px auto 150px;
  max-width: 900px;
}

.forecast__title {
  margin-bottom: 24px;
}

.forecast__days-wrapper,
.forecast__month-wrapper {
  width: 100%;
}

.forecast__chart {
  margin: 56px 0;
}

.forecast__chart-alternative {
  text-align: center;
  background-color: var(--color-grey);
  border-radius: var(--block-border-radius);
  padding: 30px;
}

@media (max-width: 1024px)  {
  .forecast {
    margin: 100px 0;
  }

  .forecast__chart {
    margin: 72px 0;
  }
}
