.header {
  display: flex;
  justify-content: end;
  padding-top: 40px;
}

.header__menu-button {
  transition: transform .1s linear;
}

.header__menu-button_clicked {
  transform: rotate(90deg);
}

.header__menu-button svg {
  stroke: var(--color-black);
}

.header__menu-icon {
  transition: fill .125s ease-out;
}

.header__menu {
  display: block;
  position: absolute;
  right: 180px;
  top: 20px;
  padding: 20px 30px;
  border-radius: var(--block-border-radius);
  background-color: var(--color-grey);
  opacity: 1;
  visibility: visible;
  transition: opacity .1s linear, visibility .1s linear;
}

.header__menu_closed {
  opacity: 0;
  visibility: hidden;
}

.menu-list {
  display: grid;
  gap: 12px 36px;
  grid-template: 1fr / repeat(3, auto);
}

.menu-list__item:nth-child(1) { order: 1; }
.menu-list__item:nth-child(2) { order: 4; }
.menu-list__item:nth-child(3) { order: 2; }
.menu-list__item:nth-child(4) { order: 5; }
.menu-list__item:nth-child(5) { order: 3; }

@media (max-width: 1024px)  {
  .header {
    position: relative;
    padding-top: 20px;
  }

  .header__menu {
    right: 60px;
    left: 0;
    padding: 16px;
  }

  .menu-list {
    grid-template: auto / 1fr;
    word-break: break-word;
  }

  .menu-list__item:nth-child(n) {
    order: initial;
  }
}
