.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 50px 10px;
}

.intro__picture {
  z-index: -1;
  animation: endless-rotation 250s infinite;
}

@keyframes endless-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro__content-wrapper {
  max-width: 70%;
}

.intro__title {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.intro__subtitle {
  padding: 0 0 15px 0;
}

.intro__title,
.intro__subtitle {
  text-align: start;
}

.intro__button {
  float: right;
}

.intro__arrow-icon {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  transition: transform .2s ease-in;
}

.intro__arrow-icon:hover {
  cursor: pointer;
  transform: translateY(3px);
  transition: transform .2s ease-in-out;
}

@media (max-width: 1024px)  {
  .intro {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 60px 0;
  }

  .intro__picture {
    grid-row-start: 1;
    grid-row-end: 2;
    animation: none;
  }

  .intro__content-wrapper {
    max-width: 80%;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .intro__button {
    font-size: 14px;
    padding: 8px;
  }

  .intro__arrow-icon {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media (prefers-color-scheme: dark) {
  .intro__button {
    background-color: var(--color-dark-scheme-grey);
  }

  .intro__button:hover {
    background-color: var(--color-dark-scheme-light-grey);
  }
}
