.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 50px;
}

@keyframes float {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }
}

.intro__picture {
  animation: float 4s infinite;
}

.intro__image {
  width: 100%;
  max-width: 380px;
}

.intro__content {
  padding: 40px 0 0 120px;
}

.intro__header {
  margin-bottom: 36px;
}

.intro__title {
  margin-bottom: 10px;
}

.intro__subtitle {
  font-weight: 500
}

.intro__title,
.intro__subtitle {
  text-align: start;
}

.intro__paragraph {
  margin-bottom: 15px;
}

.intro__paragraph:last-of-type {
  margin-bottom: 40px;
}

.intro__more-link {
  float: right;
  text-decoration: none;
}

.intro__arrow-down {
  cursor: pointer;
  grid-area: 2 / 1 / 3 / 3;
  transition: transform .2s ease-in;
}

@media (min-width: 640px) {
  .intro__arrow-down:hover {
    transform: translateY(4px);
    transition: transform .2s ease-in-out;
  }
}

@media (max-width: 1024px)  {
  .intro {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 60px 0;
  }

  .intro__picture {
    grid-row: 1 / 2;
    animation: none;
  }

  .intro__image {
    max-width: 250px;
  }

  .intro__content {
    padding: 0;
    grid-row: 2 / 3;
  }

  .intro__arrow-down {
    grid-row: 3 / 4;
  }
}
