header {
  display: flex;
  justify-content: end;
  margin: 30px 40px 0 0;
}

.menu__icon {
  cursor: pointer;
  user-select: none;
  transition: transform .1s linear, fill .125s ease;
}

.menu__icon_active {
  transform: rotate(90deg);
}

.menu__list {
  display: block;
  position: absolute;
  right: 100px;
  top: 10px;
  margin: 0;
  padding: 30px;
  background-color: var(--color-grey);
  transition: opacity .1s linear, visibility .1s linear;
}

.menu__list li {
  padding-top: 7px;
}

.menu__list_closed {
  opacity: 0;
  visibility: hidden;
}

.menu__list_opened {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1024px)  {
  .menu__list {
    right: 85px;
  }

  .menu__list li {
    font-size: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .menu__list {
    background-color: var(--color-dark-scheme-grey);
  }
}
