.test__title {
  margin-bottom: 40px;
}

.test__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  outline: 1px solid var(--color-grey);
  border-radius: var(--block-border-radius);
  background: linear-gradient(0deg, var(--color-white) 80%, var(--color-grey) 100%);
  overflow: visible;
  height: auto;
}

.test__wrapper_closed {
  background: linear-gradient(0deg, var(--color-white) 0%, var(--color-grey) 100%);
  overflow: hidden;
  height: 160px;
}

.test__subtitle {
  font-size: var(--base-font-size);
  text-align: center;
  padding-top: 32px;
  margin-bottom: 100px;
}

.test__paragraph {
  padding: 0 80px;
}

.test__paragraph::before {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  background: url(/src/images/quiz.svg);
}

.test__button {
  position: absolute;
  bottom: 16px;
}

.test__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 60px;
  outline: 1px solid var(--color-black);
  border-radius: var(--block-border-radius);
  width: 100%;
  max-width: 614px;
  margin: 52px auto 80px;
}

.test__inner.test-finished {
  padding: 20px 60px;
}

.test__question {
  font-weight: 500;
}

.test__answers {
  display: flex;
  gap: 10px;
}

.test__inner.test-finished .test__answers {
  flex-direction: column;
}

.test__inner.test-finished .test__answers p::after {
  content: ';';
}

.test__inner.test-finished .test__answers p:last-child::after {
  content: '.';
}

.test__answer_hidden {
  display: none;
  visibility: hidden;
}

.test__inner.test-finished .test__progress::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  background: url(/src/images/done.svg) no-repeat center / contain;
}

@media (max-width: 1024px)  {
  .test__wrapper {
    padding: 0 16px;
  }

  .test__wrapper_closed {
    height: 200px;
  }

  .test__wrapper_closed .test__subtitle {
    margin-bottom: 120px;
  }

  .test__subtitle {
    margin-bottom: 80px;
  }

  .test__button {
    position: absolute;
    bottom: 26px;
  }

  .test__paragraph {
    padding: 0 0 0 50px;
  }

  .test__paragraph::before {
    left: 10px;
  }

  .test__question {
    height: 80px;
    text-align: center;
  }

  .test__answer {
    padding: 15px 30px;
  }

  .test__answers_test-finished p {
    text-align: left;
  }
}
