@media (max-width: 1024px)  {
  html {
    font-size: 14px;
  }

  main {
    margin: 0 0 200px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
    margin-top: 10px 5px;
  }

  .forecast_tree-day-subtitle {
    font-size: 14px;
  }

  h3 {
    font-size: 14px;
  }

  .intro-page {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 20px 0 80px;
    row-gap: 0;
  }

  .intro-page__picture {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .intro-page__greeting {
    width: 90%;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 80px;
  }

  .button {
    font-size: 14px;
    padding: 8px;
  }

  .intro-page__arrow {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .forecast__wrapper {
    max-width: 700px;
    gap: 70px;
  }

  footer {
    justify-content: center;
  }

  ul {
    margin: 10px 0;
  }
}
